# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/

# Artefactos temporales
*.log
*.tmp
*.bak
